<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
.box{
    outline: 2px solid black;
    height: 400px;
    padding: 10px;
}
.comment{
    width: 500px;
    height: 150px;
    outline: 2px solid black;
}
</style>
</head>
<body>
<div class="text-center container">
    <div class="box mt-4">
        <h1 class="p-4" style="text-decoration: underline;">Submitted Info</h1>
        <h3 class="p-2">Your Name: @ViewBag.name </h3>
        <h3 class="p-2">Dojo Location: @ViewBag.location</h3>
        <h3 class="p-2">Favorite Language:@ViewBag.language</h3>
        <h3 class="p-2">Comment (optional):@ViewBag.textarea</h3>

        <button class="btn btn-success m-2" onclick="window.location='/';">Go Back</button>


    </div>
</body>
</html>